
{% extends '_layout.twig' %}

{% block title %}Accueil{% endblock %}


{% block main %}
<main class="container-fluid p-0 m-0">
    <section class="row p-0 m-0">
      <article class="col-sm-12 row justify-content-center mt-4">
       
        <div class="col-sm-12 col-lg-4 border rounded shadow me-4 servicing">
            <h4 class="m-3">{{ services[0].se_title}}</h4>
            <p class="m-3">{{ services[0].se_description }} </p>
        </div>
        <div class="col-sm-12 col-lg-6 row">
            <div class="col-sm-12 border rounded shadow mb-4 servicing">
                <h4 class="m-3">{{ services[1].se_title }}</h4>
                <p class="m-3">{{ services[1].se_description }} </p>
            </div>
            <div class="col-sm-12 border rounded shadow servicing">
                <h4 class="m-3">{{ services[2].se_title }}</h4>
                <p class="m-3">{{ services[2].se_description }} </p>
            </div>
        </div>

    </article>
</main>
{% endblock %}
